*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #050505;
    animation: onwindow .4s forwards;
}

@keyframes onwindow{
0%{
    opacity: 0;
}
100%{
    opacity: 100%;
}
}

.Logo{
width: 80px !important;
height: 80px !important;
margin-top: 10px;
margin-left: 10px;

}